@model Auction.MVC.RegiserUserDto

<div class="container">
    <form asp-action="RegisterPost" asp-controller="User">
        <div class="form-group">
            <label asp-for="Fio">Fio</label>
            <input class="form-control" type="text" asp-for="Fio" name="Fio" />
        </div>
        <div class="form-group">
            <label asp-for="Iin">Iin</label>
            <input class="form-control" type="text" asp-for="Iin" name="Iin" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input class="form-control" type="password" asp-for="Password" name="Password" />
        </div>
        <div class="form-group">
            <label asp-for="Balance">Balance</label>
            <input class="form-control" type="number" asp-for="Balance" name="Balance" />
        </div>
        <div class="form-group">
            <label asp-for="Roles">Roles</label>
            <input class="form-control" type="text" asp-for="Roles" name="Roles" />
        </div>
        <input type="submit" class="btn btn-outline-primary" value="Submit" />
    </form>
</div>
